.form input {
    display: block;
    padding: 7px;
    border-radius: 2px;
    border: solid 1px #ccc;
    margin: 5px auto;
    width: 100%;
}

.form {
    border: solid 1px #ccc;
    padding: 20px;
    max-width: 500px;
}

.header {
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}