.form input {
    display: block;
    padding: 7px;
    border-radius: 2px;
    border: solid 1px #ccc;
    margin: 10px 0px;
    outline: none;
    font-size: 16px;
}

.error {
    background-color: rgb(250, 217, 217);
    color: rgb(192, 9, 9);
    padding: 7px;
    margin: 10px auto;
}

.longURL {
    width: 100%;
}

.zapURL {
    margin: 1em auto;
    display: block;
}

.alias {
    width:40%;
    margin-right: auto;
    margin-left: 0;
}

.form input:focus {
    border: solid 1px rgb(92, 66, 237);
}

.form {
    padding: 20px;
    max-width: 500px;
    margin: 3em auto;
    display: flex;
    flex-direction: column;
    min-height: 500px;
    font-size: 17px;
}

.form button {
    padding: 8px;
    border: none;
    outline: none;
    margin-bottom: 1em;
    margin-right: 1em;
    margin-top: 1em;
    cursor: pointer;
    font-size: 17px;
}

#submit {
    float: right;
    background-color: #E0AC1E;
    color: #000;
    font-weight: bold;
    width: 30%;
    border-radius: 20px;
}

#submit:hover {
    background-color: #f6bf27;
}

.header {
    font-size: 30px;
    font-weight: 500;
  
}

.url_example {
    margin: 1em auto;
}

.featureContainer {
    padding-bottom:5em;
}

.feature {
    margin-top: 2em;
}

.github {
    color: #9121a2;
}

@media(min-width:768px){
    .featureContainer {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .feature {
        width: 30%;
    }
}